<!DOCTYPE html>
<html>
    <head>
        <title>HBS - Products Index</title>
    </head>
    <body>
        <ul>
            {{#each products}}
                <li>{{title}} - {{description}} - £{{price}}</li>                 </li>
            {{/each}}
        </ul>
    </body>
</html>